@font-face {
    src: url(fonts/Roboto-Black.ttf);
    font-family: Roboto;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header-bar {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin: 0;
    padding: 8px 200px;
    align-items: center;
    gap: 24px;
}

.header-logo {
    margin-right: auto;
    color: #f9faf8;
    font-size: 24px;
    padding: 0;
    font-weight: bold;
}

.header-link {
    color: darkgray;
    text-decoration: none;
    padding: 0;
}

.intro-area {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin: 0;
    padding: 64px 200px;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
}

.intro-text-area {

}
.intro-text-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}
.intro-text-paragraph {
    color: darkgray;
    font-size: 18px;
}
.intro-text-sign-up-button {
    color: white;
    background-color: #3882f6;
    height: 48px;
    width: 120px;
    border-radius: 8px;
    border-style: none;
    font-weight: bolder;
}

.intro-visual-area {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: lightgray;
    width: 800px;
}

.info-area {
    padding: 64px;
}

.info-title {
    text-align: center;
    margin-top: 0;
}

.info-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}
.info-card {
    width: 180px;
    height: 280px;
}
.info-card-graphic {
    border: 4px;
    border-color: #3882f6;
    border-radius: 16px;
    border-style: solid;
    height: 180px;
    width: 180;
    background-color: lightgray;
}

.quote-area {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.quote {
    font-style: italic;
    color: darkslategray;
    font-size: 32px;
}
.quote-attribution {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.sign-up-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.sign-up-card {
    width: 800px;
    background-color: #3882f6;
    border-radius: 16px;
    padding: 48px 120px;
    display: flex;
    justify-content: space-between;
}

.sign-up-text {

}

.sign-up-text-title {
    color: white;
    margin: 0;
}

.sign-up-text-description {
    color: lightgray;
    margin: 0;
}

.sign-up-area-button {
    color: white;
    background-color: #3882f6;
    height: 48px;
    width: 120px;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    font-weight: bolder;
    align-self: center;
}

.footer-bar {
    margin-top: auto;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}