body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
}

.header-bar {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin: 0;
    padding: 8px 200px;
    align-items: center;
    gap: 24px;
}

.header-logo {
    margin-right: auto;
    color: #f9faf8;
    font-size: 24px;
    padding: 0;
    font-weight: bold;
}

.header-link {
    color: darkgray;
    text-decoration: none;
    padding: 0;
}

.intro-area {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin: 0;
    padding: 64px 200px;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    height: 240px;
}

.intro-text-area {

}
.intro-text-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}
.intro-text-paragraph {
    color: darkgray;
    font-size: 18px;
}
.intro-text-sign-up-button {
    color: white;
    background-color: #3882f6;
    height: 48px;
    width: 120px;
    border-radius: 8px;
    border-style: none;
    font-weight: bolder;
}

.intro-visual-area {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: lightgray;
    width: 800px;
}